<section class="admin-dashboard-show">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

<div>
  <table class="table table-bordered">
    <thead class="panel-title">
      <tr>
        <th scope="col" class="label-info">Type
        <th scope="col" class="label-info">Total Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Categories</th>
        <td>
        <%= @category_count%>
        </td>
      </tr>
      <tr>
        <th scope="row">Products</th>
        <td>
        <%= @product_count %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</section>